.DS_Store
node_modules/
*.log
*.bak

# backend
backend/.env
backend/uploads/*
!backend/uploads/.gitkeep

# frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# miniprogram
miniprogram/miniprogram_npm/
miniprogram/__ACC__TEST__/
miniprogram/devtools/
miniprogram/.cloudfunction*
