.DS_Store
node_modules/
*.log
*.bak

# web admin
web/node_modules/
web/dist/
web/.env

# miniprogram
miniprogram/miniprogram_npm/
miniprogram/__ACC__TEST__/
miniprogram/devtools/
miniprogram/.cloudfunction*
!miniprogram/cloudfunctions/
